@import "../../../app/App.variables.scss";

.contact-us__form-blok {
  width: 100%;
  @include flex;
  flex-direction: column;
}

.contact-us__title {
  @include h2;
  font-size: 62px;
  font-weight: bolder;
  color: $brand-color;
}

.contact-us__form {
  margin-top: 60px;
  width: 500px;
  background-color: $brand-color;
  border-radius: 20px;
  padding: 25px;
  @include flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

  .form__input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
  }

  .form__item {
    width: 100%;
  }

  .form__button {
    @include btn;
    border: 4px solid $white-color;
    color: $white-color;
    background: transparent;
    padding: 20px 30px;

    &:hover {
      background: $white-color !important;
      border: 4px solid $white-color !important;
      color: $brand-color;
    }
  }
}
