@import "../../../app//App.variables.scss";

.main-img {
  width: 550px;

  @media (max-width: 1000px) {
    width: 400px;
  }

  @media (max-width: 800px) {
    width: 300px;
  }

  @media (max-width: 600px) {
    display: none;
  }
}
