@import "../../../app/App.variables.scss";

.work-process__section {
  background: $brand-color;
  width: 100%;
  @include flex;
  flex-direction: column;
  padding-top: 50px;
}

.work-process__container {
  @include flex;
  flex-direction: column;
  .work-process__title {
    @include h2;
    font-size: 62px;
    font-weight: bolder;
    color: $white-color;
  }

  .work-process__block {
    @include flex;
    align-items: flex-start;
    gap: 50px;
    margin: 50px 0;
  }
}
