@import "../../../app//App.variables.scss";

.collapse-price__block {
  margin-right: 100px;
  .collapse-price__title {
    @include h2;
    font-size: 62px;
    font-weight: bolder;
    color: $brand-color;
  }

  .collapse-price__sub-title {
    @include h4;
    font-style: italic;
    margin-bottom: 70px;
  }
}
