@import "../../../app/App.variables.scss";

.work-process__item {
  @include flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;

  .item__step {
    font-size: 60px;
    color: $white-color;
    border: 5px solid $white-color;
    border-radius: 70px;
    padding: 5px 20px;
  }

  .item__title {
    @include h3;
    color: $white-color;
    border-bottom: 1px solid $white-color;
    text-align: center;
    margin-bottom: 5px;
  }

  .item__description {
    @include h6;
    font-style: italic;
    color: $white-color;
    text-align: center;
  }
}
